.homeAll {
  background-image: url("../../../src/Extras/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.homeContainer {
  text-align: center;
  padding: 20px;
}

.dogsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: start;
  margin-bottom: 20px;
}

.titleContainer {
  background-color: #ffffff;
  opacity: 0.9;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px #0000001a;
}

.title {
  font-size: 48px;
  color: #333;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #0000001a;
}

h1 {
  margin: 0;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  opacity: 0.9;
  box-shadow: 0 2px 6px #0000001a;
  position: sticky;
  top: 0;
  z-index: 1;
}

.filterOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.filterTitle {
  font-size: 18px;
  margin-right: 10px;
}

.selectContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.filterLabel {
  font-size: 16px;
  margin-right: 10px;
  white-space: nowrap;
}

.filterSelect {
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}

.filterSelect:hover {
  border-color: #007bff;
}

.filterSelect:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px #007bff4d;
}

.reloadButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.reloadButton:hover {
  background-color: #0056b3;
}
