.SearchBarContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.SearchInput {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.SearchButton {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  margin-right: 2em;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.SearchButton:hover {
  background-color: #0044ff;
}
.Error {
  color: red;
  margin-top: 10px;
}
