.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  background-color: #f3bcb4;
  margin-bottom: -20px;
}

.PageNumbers {
  display: flex;
  list-style: none;
  padding: 0;
}

.PageNumber {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 4px;
  transition: background-color 0.3s;
}


.PageNumber:hover {
  background-color: #0044ff;
}

.PageNumber:focus {
  outline: none;
}

.PageNumber.active {
  background-color: #c2185b;
}

.PageInfo {
  color: #666;
  font-size: 14px;
  margin: 0 8px;
}
